<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">📂 Work in Progress</h6>
    <div class="px-3 pb-1">
        {% if site.data.profile.current_working.ongoing %}
        <div class="media py-1">
            <div class="media-body">
                <div class="my-1">
                    <span style="color:#fb6a21; font-weight: bold;">[Ongoing]</span>
                </div>
                <ul class="mb-1 pl-3">
                    {% for item in site.data.profile.current_working.ongoing %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if site.data.profile.current_working.under_review %}
        <div class="media py-1 border-top border-gray">
            <div class="media-body">
                <div class="my-1">
                    <span style="color:#fb6a21; font-weight: bold;">[Under Review]</span>
                </div>
                <ul class="mb-1 pl-3">
                    {% for item in site.data.profile.current_working.under_review %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>